php56.lvh.me:80,
:80 {
    proxy / http://php56:80 {
        transparent
    }
    log / stdout
    log / /var/log/access.log "{combined}" {
      rotate_size 100
      rotate_compress
    }
}

php73.lvh.me:80 {
    proxy / http://php73:80 {
        transparent
    }
    log / stdout
    log / /var/log/access.log "{combined}" {
      rotate_size 100
      rotate_compress
    }
}